/* Global Reset */
*{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
}

/* Body */
body{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, rgb(69, 69, 204), rgb(100, 153, 205));
}

/* Container */
#container{
        width: 94%;
        max-width: 500px;
        margin: 1rem;
        padding: 1rem;
        gap: 1rem;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.2);
}

/* Header */
header{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
}
#name{
        font-size: 2.5rem;
        font-weight: bolder;
}
#tagline{
        font-size: 1.2rem;
        font-weight: normal;
}

/* Input Section */
#input-container{
        display: flex;
        justify-content: center;
        gap: 0.2rem;
}
#task-input{
        flex: 1;
        padding: 0.5rem;
        font-size: 1rem;
        border-width: 2px;
        border-radius: 3px;
}
#add-btn{
        width: 50px;
        font-size: 1rem;
        font-weight: 550;
        background-color: rgb(68, 118, 168);
        color: white;
        border-width: 2px;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.1s;
}
#add-btn:hover{
        box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
        transform: scale(1.02);
}

/* Task List */
.task-item{
        display: flex;
        justify-content: space-between;
        padding: 0.1rem;
        border: 0.1px solid rgba(0, 0, 0, 0.39);
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.054);
        margin: 0.2rem;
}
.task-container{
        display: flex;
        gap: 0.5rem;
}
.task-name{
        font-size: 1.1rem;
}
.check{
        cursor: pointer;
}
.delete-btn{
        cursor: pointer;
}
.delete-btn:hover{
        transform: scale(1.05);
}

/* Stats */
#stats{
        display: flex;
        justify-content:center;
        gap: 0.3rem;
}
.stats{
        padding: 1rem;
        border: 1.2px solid black;
        border-radius: 3px;
        background-color: rgba(100, 153, 205, 0.264);
}